<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities</title>
    <link rel="stylesheet" href="Activities.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="./site.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
  <section class="topnav">
    <a href="./Home page.html" class="logo"> <img src="Logo.png" height="100" width="100" alt="logo"></a>
        <section class="header-right">
        <a href="./Home page.html">Home</a>
        <a href="./wildlife.html">Wildlife</a>
        <a href="./beaches.html">Beaches</a>
        <a href="./Activities.html">Activities</a>
        <section class="dropdown">
            <button class="dropbtn">Heritages
              <i class="fa fa-caret-down"></i>
            </button>
            <section class="dropdown-content">
              <a href="./heritage1.html">Sigiriya Rock Fortress</a>
              <a href="./heritage2.html">Sacred City of Kandy</a>
            </section>
        </section>
        <a href="./hotel contacts.html">Hotel Contacts</a>
        <a href="./purchase and donate.html">Purchase and Donate </a>
        <section class="search-container">
            <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            </form>
        </section>

        <section class="dropdown">
        <button class="dropbtn">Language
            <i class="fa fa-caret-down"></i>
            </button>
            <section class="dropdown-content">
                <a href="#">English</a>
                <a href="#">Mandarin</a>
                <a href="#">French</a>
                <a href="#">Spanish</a>
                <a href="#">Sinhala</a>
                <a href="#">Tamil</a>
            </section>
        </section>
    </section>
</section>
    <header><h2>Activities</h2></header>
    <section class="paragraph">
      <mark>Sri Lanka day tours and excursions include but not limited to jungle trekking, diving & snorkeling, safaris, water based Activities such as white water rafting and canoeing, hot-air ballooning and many more choices. Sri Lanka day tours has many and varied excursions, covering different expectations in budget, interest and group size. For some excursions, you may join a group and make some new friends while some can be arranged privately.
      <br>
      <br>
      There is so much to choose from! Choose from wildlife safaris, city tours, cultural discoveries, and thrilling adventures, as you plan your perfect day excursions in Sri Lanka.</mark>
    </section>
    <br>
    <section class="h3"><h3>Diving</h3></section>
    <section class="image">
      <img src="./diving.jpg" alt="diving" width="300" height="500">
      <span><mark>The ocean around Sri Lanka whispers of tales bygone, ones of regal maritime visits, of bandits and pirates and journeys of explorers and spice merchants.  As you plunge into the warm waters and dive below, these stories come to life. The crystal clear waters of the Indian Ocean with a visibility of 20 meters (65ft)  provide perfect conditions for diving.  With wrecks as dated as the 18th Century dotting the seas, deep reefs and reef walls provide enthralling explorations for scuba divers. For the less adventurous on-shore coral reefs are ideal for snorkelling. The abundant marine life found around the island is surpassed only at Hikkaduwa in the southern coast where the reef is thought to contain more species of fish than the Great Barrier Reef.<br>
        <br>
        <b>Pro Scuba Diving</b> : 2 Hours = Rs.40,800.00
        <br>
        <br>
        <b>Scuba Diving</b> : 2 Hours = Rs.93,300.00
        <br></mark>
        <br></span>
        <section class="add-to-cart">
          <form action="#" target="_blank">
            <span><input type="button" value="Add to cart"></span>
          </form>
        </section>
    </section>
      <section class="resource">
        <form action="#" target="_blank">
            <span><input type="submit" value="access resources" /></span>
        </form>
    </section>
    <section class="h3"><h3>Hiking</h3></section>
    <section class="image">
      <img src="./hiking.jpg" alt="hiking" width="300" height="500">
      <span><mark>Take a demanding trek high in the mountain rainforest of the Knuckles Range, and see the valuable spice – cardamom - growing in the forest, catch sight of rare orchids and birds, and enjoy the exhilaration of exploring spots where few have been before.  Traverse virtually unexplored country in the southeast, past the renowned Yala National Park where leopards prowl and elephants roam, past the bird-rich Kumana wetlands and into a region where literally hundreds of ruined temples and maybe even cities lie awaiting discovery in the forests.<br>
        <br>
        <b>Countryside Hike from Kandy</b> : 2 Hours = $120.00
        <br>
        <br>
        <b>Waterfall Hunt Hiking Tour from Kandy</b> : 2 Hours = $160.00
        <br></mark>
        <br>
        <section class="add-to-cart">
          <form action="#" target="_blank">
            <span><input type="button" value="Add to cart"></span>
          </form>
        </section></span>
    </section>
      <section class="resource">
        <form action="#" target="_blank">
            <span><input type="submit" value="access resources" /></span>
        </form>
    </section>
    <section class="h3"><h3>Rock Climbing</h3></section>
    <section class="image">
      <img src="./rock climbing.jpg" alt="rock climbing" width="300" height="500">
      <span><mark>Experience the thrills of crumbling rocks beneath the feet, head spinning heights and the earth expanding beneath conquering the mountains of Sri Lanka. The ranges of mountains standing guard around the highlands of Sri Lanka including the Knuckles range, Ella range, Habarana, Sigiriya, Polonnaruwa, Horton Plains and Buttala provide challenging climbs to armature as well as experienced climbers. The newest experience in mountaineering in waterfall climbing with exciting climbs like the rock face of Bambarakanda waterfall, the tallest in the country.<br>
        <br>
        <b>Forest Rock Climbing from Colombo</b> : 2 Hours = $130.00
        <br>
        <br>
        <b>Forest Rock Climbing from Horana</b> : 2 Hours = $64.00
        <br>
        <br>
        <b>Forest Rock Climbing from Mount Lavinia</b> : 2 Hours = $131.00</mark>
        <br>
        <section class="add-to-cart">
          <form action="#" target="_blank">
            <span><input type="button" value="Add to cart"></span>
          </form>
        </section></span>
    </section>
      <section class="resource">
        <form action="#" target="_blank">
            <span><input type="submit" value="access resources" /></span>
        </form>
    </section>
    <section class="form">
      <section class="row1">
      <section class="col-75">
      <section class="container4">
      <section class="row1">
      <section class="col-50">
          <h2>Ticket Booking</h2>
          <br>
          <fieldset>
        <legend><h4>Foreign Tourist</h4></legend>
        <br>
          <p>
            <label for="activities">Activities :</label>
            <select name="activitiesf" id="activitiesf">
                <option value=""></option>
                <option value="Diving">Diving</option>
                <option value="Hiking">Hiking</option>
                <option value="Rock Climbing">Rock Climbing</option>
            </select>
          </p>
          <br>
          <p>
          <label for="adultsf">Adults:</label>
          <input type="number" id="adultsf" name="adultsf" min="0" max="200" value="0" onclick="addCurrent()">
          </p>
          <br>
          <p>
          <label for="childrenf">Children:</label>
          <input type="number" id="childrenf" name="childrenf" min="0" max="200" value="0" onclick="addCurrent()">
          </p>
          <br>
          <label for="extrasf"> Extras:</label>
          <br><br>
          <p>
          <label for="passf">Annual Pass:</label>
          <input type="number" id="passf" name="passf" min="0" max="200"  value="0" onclick="addCurrent()">
          <label for="tokenf">Food Token:</label>
          <input type="number" id="tokenf" name="tokenf" min="0" max="200"  value="0" onclick="addCurrent()">
          </p>
          <br>
            <section id="duration">
              <label for="timef"> Time Duration:</label>
              <label for="time1">Three Hours</label>
              <input type="radio" name="timef" id="time1" value="Three Hours">
              <label for="time2">Half Day</label>
              <input type="radio" name="timef" id="time2" value="Half Day">
              <label for="time3">Full Day</label>
              <input type="radio" name="timef" id="time3" value="Full Day">
              <label for="time4">Two Days</label>
              <input type="radio" name="timef" id="time4" value="Two Days">
            </section>
            <br>
          </fieldset>
            <br>
            <fieldset>
        <legend><h4>Local Tourist</h4></legend>
        <br>
        <p>
          <label for="activities">Activities :</label>
          <select name="activitiesl" id="activitiesl">
              <option value=""></option>
              <option value="Diving">Diving</option>
              <option value="Hiking">Hiking</option>
              <option value="Rock Climbing">Rock Climbing</option>
          </select>
        </p>
        <br>
        <p>
          <label for="adultsl">Adults:</label>
          <input type="number" id="adultsl" name="adultsl" min="0" max="200" value="0" onclick="addCurrent()">
        </p>
        <br>
        <p>
          <label for="child15">Below 15:</label>
          <input type="number" id="child15" name="child15" min="0" max="200" value="0" onclick="addCurrent()">
        </p>
        <br>
        <p>
          <label for="child6">Below 6:</label>
          <input type="number" id="child6" name="child6" min="0" max="200" value="0" onclick="addCurrent()">
        </p>
          <br>
        <label for="extrasl"> Extras:</label>
        <br><br>
        <p>
        <label for="passl">Annual Pass:</label>
        <input type="number" id="passl" name="passl" min="0" max="200" value="0" onclick="addCurrent()">
        <label for="tokenl">Food Token:</label>
        <input type="number" id="tokenl" name="tokenl" min="0" max="200" value="0" onclick="addCurrent()">
        </p>
        <br><br>
        <label for="time">Time Duration :</label>
          <label for="time5">Three Hours</label>
          <input type="radio" name="time" id="time5" value="Three Hours">
          <label for="time6">Half Day</label>
          <input type="radio" name="time" id="time6" value="Half Day">
          <label for="time7">Full Day</label>
          <input type="radio" name="time" id="time7" value="Full Day">
          <label for="time8">Two Days</label>
          <input type="radio" name="time" id="time8" value="Two Days">
          <br><br>
            </fieldset>
          <br>
          <hr>
          <br>
          </section>
          </section>
          <center>
            <button type onclick ="myFunction()" id="addorder" name="addorder" class="btn">Add Order</button>
          </center>
          <br>
          <center>
            <button type="submit" onclick ="myFunction1()" id="placeorder" name="placeorder" class="btn1">Place Order</button>
          </center>
          <br>
      </section>
        </section>
        </section>
            <hr>
            <br>
            <h4>Order Bill</h4>
            <br>
            <hr>
            <br>
            <p>Current Orders: <span id="cost1"> 0 </span></p>
            <br>
            <p>Overall Orders: <span id="cost2">0</span></p>
            <br>
            <p>Cost Of Current Orders: <span id="cost3">0</span> LKR</p>
            <br>
            <p>Overall Cost: <span id="cost4">0</span> LKR</p>
            <br>
            <hr>
      </section>
      <br>
    <footer class="foot">
      <article>
      Copyright © 2022 All Rights Reserved by Sri Lanka Tourism Development Authority.<br><br>
      Privacy Policy<br>
      Terms & Conditions
      </article>
      <section class="reference">
        Reference:
        <a href="https://www.pexels.com/" target="_blank">Pexels</a>
        <a href="https://lk.lakpura.com/" target="_blank">lakpura</a>
        <a href="https://www.srilanka.travel/" target="_blank">srilanka travel</a>
      </section>
  </footer>
  <script src="./Activities.js"></script>
  <script src="./main.js"></script>

</body>
</html>
